@import "common.module";

.container {
  background-color: #FFDBD5;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #30387C;
  justify-content: center;
  position: relative;
  overflow: hidden;
  font-family: 'Work Sans', sans-serif;
  margin: 50px 0;
  width: 100%;
  padding: 75px 0;
  z-index: 2;
  button {
    @extend .button;
  }
}


.firstPattern {
  position: absolute;
  top: 20px;
  left: -150px;
  width: auto;
  height: 130%;
  z-index: 100;
}

.secondPattern {
  position: absolute;
  top: 20px;
  right: -150px;
  width: auto;
  height: 130%;
  z-index: 100;
}

.textsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 200;
  margin: 0 30px;
  p {
    margin-top: 30px;
    font-weight: 600;
    text-align: center;
  }
}

@media (max-width: 1199px) {
  .firstPattern {
    left: -150px;
    width: auto;
    height: 110%;
  }

  .secondPattern {
    right: -150px;
    width: auto;
    height: 110%;
  }
}

@media (max-width: 799px) {
  .firstPattern {
    left: -270px;
    width: auto;
    height: 100%;
  }

  .secondPattern {
    right: -300px;
    width: auto;
    height: 100%;
  }

}

@media (max-width: 400px) {
  .firstPattern {
    left: -300px;
    width: auto;
    height: 100%;
  }

  .secondPattern {
    display: none;
  }

}

