@import "variables";

.button {
  background-color: $main-color;
  color: white;
  border-radius: 20px;
  width: 130px;
  height: 40px;
  align-self: center;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    background-color: white;
    color: $main-color;
  }
}
