//.try {
//  height: 100px;
//  margin-top: -100px;
//  opacity: 0.5;
//}

.container {
  width: 100%;
  height:80vh;
  margin-top: -120px;
}

.diet-sport-mass {
  background: url('../images/dietHeros/Dieta sportowa na mase - poprawiona.jpg') center center no-repeat;
  background-size: 85%, cover;
  background-color: #EDE8C3;
}

.diet-gluten-free {
  background: url('../images/dietHeros/newDiets/glutenFree/glutenFree-desktop.jpg') center center no-repeat;
  background-size: cover;
  background-color: #DFD6FF;
}

.diet-low-ig {
  background: url('../images/dietHeros/newDiets/lowIg/lowIg-desktop.jpg') center center no-repeat;
  background-size: cover;
  background-color: #DFD6FF;
}

.diet-wege-fish {
  background: url('../images/dietHeros/newDiets/vegeFish/vegeFish-desktop.jpg') center center no-repeat;
  background-size: cover;
  background-color: #DFD6FF;
}

.diet-no-lactose {
  background: url('../images/dietHeros/newDiets/glutenFree/glutenFree-desktop.jpg') center center no-repeat;
  background-size: cover;
  background-color: #DFD6FF;
}
.diet-detox {
  background: url('../images/dietHeros/newDiets/detox/detox-desktop.jpg') center center no-repeat;
  background-size: cover;
  background-color: #DFD6FF;
}

.diet-paleo {
  background: url('../images/dietHeros/newDiets/paleo/PaleoDiet-desktop.jpg') center center no-repeat;
  background-size: cover;
  background-color: #DFD6FF;
}

.diet-weight-loss {
  background: url('../images/dietHeros/newDiets/weigthLoss/DietWeightLoss-desktop.jpg') center center no-repeat;
  background-size: cover;
  background-color: #DFD6FF;
}

.diet-sport-reduction {
  background: url('../images/dietHeros/newDiets/reductionDiet/Reduction-diet-desktop.jpg') center center no-repeat;
  background-size: cover;
  background-color: #DFD6FF;
}

.diet-vegan {
  background: url('../images/dietHeros/newDiets/vegeDiet/VegeDiet-desktop.jpg') center center no-repeat;
  background-size: cover;
  background-color: #DFD6FF;
}

.diet-vege {
  background: url('../images/dietHeros/newDiets/vegeDiet/VegeDiet-desktop.jpg') center center no-repeat;
  background-size: cover;
  background-color: #DFD6FF;
}

.diet-samurai {
  background: url('../images/dietHeros/newDiets/samurai/SamuraiDiet-desktop.jpg') center center no-repeat;
  background-size: cover;
  background-color: #DFD6FF;
}

.diet-standard {
  background: url('../images/dietHeros/newDiets/glutenFree/glutenFree-desktop.jpg') center center no-repeat;
  background-size: cover;
  background-color: #DFD6FF;
}


