//.try {
//  height: 100px;
//  margin-top: -100px;
//  opacity: 0.5;
//}

.container {
  width: 100%;
  height:90vh;
  margin-top: -120px;
}

.diet-weight-loss {
  background: url('../images/dietHeros/Dieta odchudzajaca-poprawiona.jpg') center center no-repeat;
  background-size: 85%, cover;
  background-color: #EDE8C3;
}

.diet-sport-reduction {
  background: url('../images/dietHeros/Dieta sportowa na redukcje - poprawiona.jpg') center center no-repeat;
  background-size: 85%, cover;
  background-color: #EDE8C3;
}

.diet-paleo {
  background: url('../images/dietHeros/Dieta paleo - poprawiona.jpg') center center no-repeat;
  background-size: 85%, cover;
  background-color: #EDE8C3;
}

.diet-standard{
   background: url('../images/dietHeros/Dieta standard - poprawiona.jpg') center center no-repeat;
   background-size: 85%, cover;
   background-color: #EDE8C3;
 }
.diet-vegan{
  background: url('../images/dietHeros/Dieta weganska - poprawiona.jpg') center center no-repeat;
  background-size: 85%, cover;
  background-color: #EDE8C3;
}

.diet-vege {
  background: url('../images/dietHeros/Dieta wegetarianska - poprawiona.jpg') center center no-repeat;
  background-size: 85%, cover;
  background-color: #EDE8C3;
}

.diet-sport-mass {
  background: url('../images/dietHeros/Dieta sportowa na mase - poprawiona.jpg') center center no-repeat;
  background-size: 85%, cover;
  background-color: #EDE8C3;
}

.diet-samurai {
  background: url('../images/dietHeros/Dieta samuraja - poprawiona.jpg') center center no-repeat;
  background-size: 85%, cover;
  background-color: #f6f3be;
}

//.diet-gluten-free {
//  background: url('../images/dietHeros/newDiets/firstDiet/First-diet-desktop-2.jpg') center center no-repeat;
//  background-size: cover;
//  background-color: #EDE8C3;
//  height:80vh;
//}
//
//.diet-wege-fish {
//  background: url('../images/dietHeros/newDiets/secondDiet/WegeFishDiet.jpg') center center no-repeat;
//  background-size: cover;
//  background-color: #EDE8C3;
//  height:80vh;
//}
//
//.diet-no-lactose {
//  background: url('../images/dietHeros/newDiets/thirdDiet/Third-diet-desktop.jpg') center center no-repeat;
//  background-size: cover;
//  background-color: #EDE8C3;
//  height:80vh;
//}
//.diet-detox {
//  background: url('../images/dietHeros/newDiets/forthDiet/FourthDietDesktop.jpg') center center no-repeat;
//  background-size: cover;
//  background-color: #EDE8C3;
//  height:80vh;
//}



@media (max-width: 1199px) {
  .diet-weight-loss {
    background-size: cover;
  }
  .diet-sport-reduction {
    background-size: cover;
  }
  .diet-paleo {
    background-size: cover;
  }
  .diet-standard {
    background-size: cover;
  }
  .diet-vegan {
    background-size: cover;
  }
  .diet-vege {
    background-size: cover;
  }
  .diet-sport-mass {
    background-size: cover;
  }
  .diet-samurai {
    background-size: cover;
  }
}
