@import "variables";
.container {
  display: flex;
  background-color: #E7E7F3;
  background-image: url("../images/chat/img_czat_bg.svg");
  background-size: contain;
  color: #102682;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  color: $main-color;
  justify-content: space-around;
  align-items: flex-start;
  width: 70%;
  margin: 30px 0;
  p {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.first-column-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  //> div {
  //  margin: 10px 0;
  //}
}

.social-media-container {
  display: flex;
}
