@import "variables";
.container {
  display: flex;
  background-color: #E7E7F3;
  background-image: url("../images/chat/img_czat_bg.svg");
  background-size: contain;
  color: #102682;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  color: $main-color;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 70%;
  margin: 30px;
  flex:1;
  a {
    text-decoration: none;
    color: $main-color;
  }
  p {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.first-column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //> div {
  //  margin: 10px 0;
  //}
  img {
    position: relative;
    top: 15px;
    margin-bottom: 30px;
  }
}

.social-media-container {
  display: flex;
  font-size: 30px;
  margin: 20px 0 10px 0;
  span {
    margin-right: 10px;
  }
}

@media (max-width: 799px) {
  .container {
    background-image: unset;
  }
}
