@import "variables";
.container {
  display: flex;
  background: #E7E7F3;
  color: #102682;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  color: $main-color;
  justify-content: space-around;
  align-items: flex-start;
  width: 70%;
  margin: 30px 0;
  p {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.first-column-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  > div {
    margin: 10px 0;
  }
}

.social-media-container {
  display: flex;
}
