@import "variables";
@import "common.module";
.link {
  color: yellow;
}

.header {
  padding: 20px 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  top: 0;
  left: 0;
  height: 20px;
  width: 100%;
  z-index: 200;
  background-color: #FBDAE2;
}

//.header-up-color {
//  background-color: #FBDAE2;
//}
//
//.header-down-color {
//  background-color: white;
//  opacity: 0.7;
//}
.secondHeader {
  padding: 20px 0;
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-around;
  top: 0;
  left: 0;
  height: 20px;
  width: 100%;
  color: $main-color;
  background-color: white;
  opacity: 0.7;

}

.headerColorDown {
  background-color: white;
  opacity: 0.7;
}

.headerColorUp{
  background-color: #FBDAE2;
}

//.thirdHeader {
//  padding: 20px 0;
//  display: flex;
//  position: fixed;
//  align-items: center;
//  justify-content: space-around;
//  top: 0;
//  left: 0;
//  height: 20px;
//  width: 100%;
//  color: purple;
//  background-color: white;
//  opacity: 0.7;
//
//}

.topMenuRightPart {
  display: flex;
  //margin-right: 15%;
}



//.title {
//  color: #000000;
//  font-size: 3rem;
//  text-decoration: none;
//  width: 20px;
//  height: 5px;
//}

.nav-list {
  display: flex;
  list-style-type: none;
  //margin: 0;
}

li {
  color: #102582;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
  z-index: 300;
}

li:hover {
  text-decoration: underline;
}

.active-nav.item {
  color: pink;
}

.menu {
  display: flex ;
  z-index: 200;
}

.order-button {
  background-color: #30387C;
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  align-self: center;
}

.panel-button {
  background-color: white;
  color: #30387C;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  align-self: center;
}

.hamburger-menu {
  display: none
}

.overlay {
  display: none;
}

.mobile-menu {
  display: none;
}

.nav-list-mobile {
  display: none;
}

.mobile-menu-header {
  display: none;
}

button {
  @extend .button
}


@media (max-width: 799px) {
  .secondHeader {
    position: relative;
  }

  .hamburger-menu {
    display: block;
  }
  .topMenuRightPart {
    display: none;
    //margin-right: 15%;
  }
  .menu {
    display: none;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    li {
      list-style-type: none;
      text-decoration: none;
      font-size: 16px;
      font-weight: normal;
      line-height: 2.25;
      text-transform: uppercase;
      padding: 10px 0 10px 25px;
      margin-left: -40px;
      //display: block;
      width: 100%;
      &:hover {
        background-color: $intense-yellow;
      }
    }
  }
  .nav-list-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }


  .mobile-menu-header {
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
    align-items: center;
  }


  .overlay {
    display: unset;
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #D9D5E8;
    z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  span {
    display: block;
    font-size: 30px;
  }

  button {
    align-self: center;
  }

  select {
    margin: 25px;
    width: calc(100% - 100px);
    height: 50px;
    border-radius: 8px;
    background-color: white;
    border: none;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: var(--royal);
    padding: 0 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(https://afterfit-catering.pl/wp-content/uploads/2019/01/menu-mobile-arrow.png);
    background-position: 100%;
    background-repeat: no-repeat;
  }

}



