@import "variables";
@import "common.module";

.container {
  background: url('../images/backgrounds/img_afterfit-hero.svg') center center no-repeat;
  background-size: cover;
  margin-top: 50px;
  width: 100%;
  height:70vh;

}

.wrapper {
  display: flex;
  justify-content: flex-start;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10% 10%;
  h1 {
    font-size: 2rem;
  }
  button {
    @extend .common-button;
    background-color: $main-color;
    color: white;
    &:hover {
      background-color: white;
      color: $main-color;
    }
  }
}
