@import "variables";
@import "common.module";

.container {
  background: url("../images/backgrounds/img_afterfit-hero.svg") center center
    no-repeat;
  background-size: cover;
  width: 100%;
  height: 70vh;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10% 10%;
  h1 {
    font-size: 2rem;
  }
  button {
    @extend .button;
    &:hover {
      background-color: white;
      color: $main-color;
    }
  }
}

@media (max-width: 1199px) {
  .titleWrapper {
    padding: 9% 6%;

    h1 {
      font-size: 1.6rem;
    }
    h3 {
      font-size: 1rem;
    }
  }
}

@media (max-width: 799px) {
  .container {
    background: url("../images/backgrounds/mobile_bg.svg") center center
    no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
  }
  .titleWrapper {
    padding: 6% 6%;

    h1 {
      font-size: 1.6rem;
    }
    h3 {
      font-size: 1rem;
    }
  }
}
