@import "variables";
@import "common.module";

* {
  -webkit-overflow-scrolling: touch;
}
body {
  font-family: $font;
  color: $main-color;
  margin: 0;

  h2 {
    font-size: 30px;
    margin: 50px 0;
  }
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  /* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
  cursor: pointer;
}

.container {
  //padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex-grow: 1;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(191, 193, 223, 0.85)
    url("../images/backgrounds/img_city_1.svg");
  z-index: 1000;
  overflow: scroll;
  .overlay-content {
    h2 {
      font-size: 40px;
      margin-top: 50px;
      padding: 0;
      text-align: center;
    }

    .overlay-wrapper {
      display: flex;
      justify-content: center;
      .city-list {
        list-style: none;
        padding-left: 0;
        a {
          text-decoration: none;
        }
        .city {
          margin: 10px 50px;
          text-decoration: none;
          font-weight: 600;
          font-size: 25px;
          line-height: 1.5;
          color: #595ea3;
          cursor: pointer;
          &:hover {
            color: $main-color;
          }
        }
      }
      .link {
        text-decoration: none;
      }
    }
    .mobile-wrapper {
      display: none;
        //display: none;
        .mobile-city-list {

          .mobile-city {

          }
        }
      }
  }
}


@media (max-width: 799px) {
  .overlay {
    .overlay-content {
     h2 {
       position: relative;
       top: 0;
       margin: 20px 0;
     }
      .overlay-wrapper {
        display: none;
      }
      .mobile-wrapper {
        h3 {
          font-size: 25px;
          margin: 0;
          padding: 0;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 200px;
        .mobile-city-list {
          list-style: none;
          padding-left: 0;
          a {
            text-decoration: none;
          }
          .mobile-city {
            margin: 10px 0;
            text-align: center;
            text-decoration: none;
            font-weight: 600;
            font-size: 25px;
            line-height: 1.5;
            color: #595ea3;
            cursor: pointer;
            &:hover {
              color: $main-color;
            }
          }
        }
        .link {
          text-decoration: none;
        }
      }
    }
  }
}

//.overlay {
//  position: fixed;
//  width: 100%;
//  height: 100%;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  background: rgba(191, 193, 223, 0.8) url("../images/backgrounds/img_city_1.svg");
//  z-index: 1000;
//  cursor: pointer;
//  display: flex;
//  justify-content: center;
//  overflow: scroll;
//  .overlay-content {
//    h2 {
//      font-size: 40px;
//      margin-top: 50px;
//
//    }
//    .overlay-list {
//      display: flex;
//      flex-direction: column;
//      padding: 0;
//      text-align: center;
//      margin-top: -20px;
//      .overlayItem {
//        list-style: none;
//        color: #595EA3;
//        text-decoration: none;
//        font-weight: 600;
//        font-size: 25px;
//        line-height: 1.3;
//        &:hover {
//          color: #8285C1;
//        }
//      }
//      .link {
//        text-decoration: none;
//      }
//    }
//
//  }
//}

@media (max-width: 840px) {
  .overlay {
    background: rgba(191, 193, 223, 0.9);
  }
}
