@import "variables";

body {
  font-family: $font;
  color: $main-color;
  h2 {
    font-size: 30px;
  }
}

.container {
  //padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex-grow: 1;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(191, 193, 223, 0.7) url("../images/backgrounds/img_city_1.svg");
  z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

li {
  list-style: none;
  text-align: center;
}

.overlayContent {
  margin: 0;
  position: absolute;
  color: #102682;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
