@import "variables";
.container {
  display: flex;
  width: 80%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.diet-item {
  padding: 5px;
  border: 1px solid #E1E1E1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 400px;
  margin: 20px 10px;
  img {
    width: 270px;
    height: 270px;
  }
  p {
    text-decoration: none;
  }
  color: $main-color;
  &:hover {
    background-color: #FFB800;
  }
  &.first {
    color: red;
  }
}

