@import "./variables";
@import "common.module";

.container {
  display: flex;
  border: 1px solid #e1e1e1;
  max-width: 1200px;
  margin: 0 auto;
}

.leftSide {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
  margin: 45px 0 45px 30px;
}

.rightSide {
  background-color: $main-color;
  display: flex;
  margin: 45px 30px 45px 0;
  flex: 1;
  min-width: 250px;
}

.rightSideWrapper {
  display: flex;
  flex-direction: column;
  //justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: white;
  button {
    margin-top: 30px;
    @extend .button;
    background-color: white;
    color: $main-color;
    cursor: pointer;
    &:hover {
      background-color: #8186C0;
      color: white;
    }
  }
  .price-summary {
    font-size: 20px;
    font-weight: bold;
  }
  h2 {
    margin-top: 100px;
  }
}

.mobile-wrapper {
  display: none;
}

.leftSideWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: $main-color;
  flex-wrap: wrap;
}

.section {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  p {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 15px;
    color: $main-color;
    font-weight: 600;
  }
}

.item {
  background-color: $light-purple;
  color: $main-color;
  display: flex;
  width: 165px;
  height: 50px;
  margin: 0 20px 20px 0;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: normal;
  align-self: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.5s;
  &:hover {
    background-color: #8186C0;
    color: white;
  }
}

.active-item {
  @extend .item;
  background-color: $main-color;
  color: white;
}

.mealItem {
  background-color: $main-color;
  color: white;
  display: flex;
  width: 165px;
  height: 50px;
  margin: 0 20px 20px 0;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: normal;
  align-self: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.5s;
  &:hover {
    background-color: #8186C0;
    color: white;
  }
}

.daysSection {
  display: flex;
  align-self: flex-start;
  position: relative;
  margin-bottom: 30px;
  p {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 15px;
    color: $main-color;
    font-weight: 600;
  }
}

.dayButton {
  width: 50px;
  height: 50px;
  line-height: 45px;
  color: white;
  background-color: $main-color;
  text-align: center;
  font-size: 40px;
  font-weight: 200;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: #8186C0;
  }
}

.dayInput {
  width: 260px;
  height: 50px;
  line-height: 50px;
  border: solid 1px $light-purple;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: normal;
  color: $main-color;
  background-color: $light-purple;
  span {
    display: inline;
  }
  input {
    width: 15%;
    background-color: $light-purple;
    border: none;
    color: $main-color;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: normal;
  }
}

.barSection {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-bottom: 30px;
}

.barItem {
  position: relative;
  width: auto;
  height: 20px;
  border-radius: 4px;
  background-color: $light-purple;
  margin: 6px 0;
  div {
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    border-radius: 4px;
    background-color: $intense-yellow;
  }
}

h2 {
  text-align: center;
}

@media (max-width: 1050px) {
  .rightSideWrapper {
    .price-summary {
      font-size: 17px;
    }
    h2 {
      margin-top: 100px;
    }
  }
}


@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    border: 1px solid #e1e1e1;
    width: 100%;
  }

  .leftSide {
    display: flex;
    margin: 45px 0 0 0;
  }

  .leftSideWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: $main-color;
  }
  .section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    //margin-bottom: 30px;
    p {
      display: flex;
      justify-content: center;
      font-size: 15px;
      color: $main-color;
      font-weight: 600;
      width: 100%;
    }
  }
  .item {
    width: 150px;
    height: 45px;
    margin: 0 10px 10px 0;
    font-size: 15px;
    &:hover {
      background-color: $main-color;
      color: white;
    }
  }
  .mealItem {
    width: 150px;
    height: 45px;
    margin: 0 10px 10px 0;
    font-size: 15px;
    &:hover {
      background-color: $main-color;
      color: white;
    }
  }

  .daysSection {
    display: flex;
    align-self: flex-start;
    position: relative;
    margin-bottom: 30px;
    p {
      position: absolute;
      top: -40px;
      left: 0;
      font-size: 15px;
      color: $main-color;
      font-weight: 600;
    }
  }

  .daysSection {
   justify-content: center;
    margin: 10px auto;
    p {
      display: flex;
      justify-content: center;
      width: 100%;
      font-size: 15px;
      color: $main-color;
      font-weight: 600;
    }
  }
  .barSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 13px;
  }

  .barItem {
    width: 90%;
  }

  .rightSide {
    background-color: $main-color;
    display: flex;
    margin: 0 0 0 0;
    width: 100%;

  }

  .rightSideWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 20px 0;
    h2 {
      margin: 0;
    }
  }

}
