@import "variables";
.container {
  position: relative;
  margin: 0;
  .dropdownButton {
    display: flex;
    border: 1px solid grey;
    height: 50px;
    width: 200px;
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: white;
    background: url("../images/select/Ikonka menu mobilnego.jpg") center right no-repeat;
    background-size: 35px 35px;
    background-color: $main-color;
    -moz-appearance: none;
    -webkit-appearance: none;
    span {
      margin-left: 15px;
      font-size: 18px;
    }
  }
  .itemsWrapper {
    position: relative;
    border-radius: 10px;
    .downshiftDropdown {
      position: absolute;
      top: 0;
      z-index: 1000;
      background: #E7E7F3;
      width: 100%;
      .dropdownItem {
        background: red;
        color: $main-color;
        width: 100%;
        font-size: 16px;
        padding: 6px 0;
        cursor: pointer;
        &:last-child {
          margin-bottom: 6px;
        }
        span {
          margin-left: 20px;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .container {
    .dropdownButton {
      span {
        font-size: 15px;
      }
    }
    .itemsWrapper {
      .downshiftDropdown {
        .dropdownItem {
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}
