.container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.item {
  border: 1px #E1E1E1 solid;
  padding: 5px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
}

.title {
  text-align: center;
}
