@import "../common.module";

.container {
  h1 {
    text-align: center;
  }
  .pagination-container {
    display: flex;
    max-width: 1200px;
    margin: 30px auto 100px auto;
    justify-content: space-between;
    height: 30px;
    .pagination-button {
      padding: 30px;
      border-radius: 10px;
      display: flex;
      background-color: $main-color;
      justify-content: center;
      align-items: center;
      color: white;
    }
  }
  .posts-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    background: green;
    flex-wrap: wrap;
    justify-content: center;
    .post-box {
      width: 30%;
      //height: auto;
      margin: 10px;
      background: red;
      display: flex;
      flex-direction: column;
      align-items: center;
      .post-image {
        width: 100%;
        height: auto;
        background: yellow;
      }
    }
  }
}


